# Ignore the node_modules directory
node_modules

# Ignore contents of build directory (but not the build directory itself)
build/app.bundle.js
build/app.bundle.js.map


# Ignore log files (like npm-debug.log)
*.log

env.sh
